p {
	margin: 20px 0;
}
.img-container{
        float: right;
        border: 2px solid grey;
        width: auto;
        height: auto;
        margin: 3px 1px 7px 7px;
}
img{
    padding: 10px;
    width: 100px;
    height: 120px;
}
main{
    position: relative;
    left: 100px;
    top: -200px;
    margin-bottom: -200px;
}